# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Editores
.vscode/
.idea/
*.swp

# Node (caso venhas a adicionar ferramentas mais tarde)
node_modules/
npm-debug.log*

# Logs e temporários
*.log
